.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  height: 100vh;
 
}



.showcase-button {
  margin-top: 16px; /* Add spacing between the graph and the button */
}

.rv-xy-plot {
  position: relative;
  left: 50;
  font-family: sans-serif;
  color: red;

}

